---
import { CollectionEntry, getEntryBySlug } from 'astro:content'
import { Image } from 'astro:assets'
import H4 from "./H4.astro";
import H5 from "./H5.astro";

type Props = {
    project: CollectionEntry<"projects">
}

const {project} = Astro.props
const cardSize = 350;
---
<style define:vars={{cardSize: cardSize + 'px'}}>
    :root {
        --blur:  blur(8px);
        --flip-image-horizontally: scaleY(-1);
        --border-radius: 16px;
    }

    article {
        width: var(--cardSize);
        margin: 20px auto;
        color: white;
    }

    img {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        display: block;
    }

    footer>img {
        height: 100px;

        object-fit: cover;
        object-position: bottom;

        -webkit-transform: var(--flip-image-horizontally);
        transform: var(--flip-image-horizontally) scale(3);

        filter: var(--blur) brightness(80%);
        -webkit-filter: var(--blur) brightness(80%);

        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, transparent 75%);
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, transparent 75%);
    }

    footer {
        position: relative;
        overflow: hidden;

        display: flex;
        align-items: flex-end;

        height: 150px;
        margin-top: -120px;
        padding: 1rem;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    div.body {
        position: absolute;
        z-index: 3;
        bottom: 0;
        padding-left: 0.5rem;
    }

</style>
<article>
    <a href={`/projects/${project.slug}`}>
        <Image
            src={project.data.heroImage}
            alt={project.data.title}
            width={cardSize}
            height={(cardSize/1.42).toFixed(2)}
        ></Image>
    </a>
    <footer>
        <div class="body">
            <H4>{ project.data.title }</H4>
            <H5>{ project.data.primaryCategory }</H5>
        </div>
        <Image
                src={project.data.heroImage}
                alt={project.data.title}
                width={cardSize}
                height={cardSize/project.data.heroImage.width/project.data.heroImage.height}
        ></Image>
    </footer>
</article>
